@font-face {
	font-family: 'icomoon';
	src:  url('../fonts/icomoon.eot?f18z8x');
	src:  url('../fonts/icomoon.eot?f18z8x#iefix') format('embedded-opentype'),
		url('../fonts/icomoon.ttf?f18z8x') format('truetype'),
		url('../fonts/icomoon.woff?f18z8x') format('woff'),
		url('../fonts/icomoon.svg?f18z8x#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}
.outw {
	display: inline-block;
	font-style: normal;
	font-family: 'icomoon';
	padding-left: 8px;
}
.spe_co_red {
	color: #f22e00;
}
.spe_co_black {
	color: #3c3c3c;
}

/*页眉*/

.header {
	width: 100%;
	height: 200px;
	background-color: #f5f5f5;
}
.nav {
	width: 1190px;
	height: 35px;
	line-height: 35px;
	background-color: #f5f5f5;
	margin: 0 auto;
}
.header > .nav > .nav_l {
	padding-left: 6px;
}
.header > .nav > .nav_l > a:first-child {
	cursor: text;
}
.header > .nav > .nav_l > div > .login {
	padding-left: 8px;
}
.header > .nav > .nav_l > a > .login {
	padding: 0px 3px 0px 8px;
}
.header > .nav > .nav_l > div > .free {
	padding-left: 3px;
}
.header > .nav > .nav_l > .phone {
	padding-left: 15px;
}
.header > .nav > .nav_r > div:first-child > .outw {
	padding: 0px 7px 0px 6px;
}


.header > .nav > .nav_r {
	padding-right: 7px;
}
.header > .nav > .nav_r > div {
	position: relative;
	float: left;
	display: block;
	color: #6c6c6c;
	z-index: 100;
}
.header > .nav > .nav_r > .car > span:first-child {
	margin: 0 5px 0 -6px;
}
.header > .nav > .nav_r > .car > .car_third {
	margin: 0px 10px 0px 1px;
}
.header > .nav > .nav_r > .collect > a > span {
	margin: 0px 5px 0 -8px;
}
.header > .nav > .nav_r > .collect > a {
	margin: 0px 0px 0 0px;
}
.header > .nav > .nav_r > .collect > .col_third {
	margin: 0 0px 0 0px;
}
.header > .nav > .nav_r > .classify {
	margin: 0 15px 0 -7px;
}
.header > .nav > .nav_r > .classify > a {
	margin: 0 15px 0 14px;
}
.header > .nav > .nav_r > .center > span {
	margin: 0px 0px 0px 0px;
}
.header > .nav > .nav_r > .contact {
	margin-left: 7px;
}
.header > .nav > .nav_r > .web > .guide {
	margin-left: 6px;
}
.header > .nav > .nav_r > .web > .outw {
	margin-left: -2px;
} 
.header > .nav a:hover {
	color: #f22e00;
}

.header > .nav > .nav_r > div > .hide {
	display: none;
	height: 30px;
	position: relative;
}
.header > .nav > .nav_r > div:hover .hide {
	display: block;
}
.header > .nav > .nav_r > div > .hide:hover {
	background-color: #f5f5f5;
	color: #6c6c6c;
}
.header > .nav > .nav_r > .my:hover,
.header > .nav > .nav_r > .collect:hover,
.header > .nav > .nav_r > .center:hover, 
.header > .nav > .nav_r > .contact:hover {
	background-color: #fff;
}



.search {
	width: 100%;
	height: 165px;
	background-color: #fff;
	border-top: 1px solid #ddd;
}
.search > .search_outbox {
	width: 100%;
	height: 90px;
	display: flex;
	float: left;
	position: absolute;
	min-width: 1065px;
	margin-top: 30px;
}
.search > .search_outbox > .search_inbox {
	width: 625px;
	height: 85px;
	position: relative;
	margin: 0 auto;
}
.search > .search_outbox > .search_inbox > ul > a {
	height: 25px;
	line-height: 25px;
	width: 50px;
	float: left;
	color: #f40;
	font-weight: 200;
	text-align: center;
	position: relative;
}
.search > .search_outbox > .search_inbox > ul > .active {
	background-color: #ff5902 !important;
	color: #fff;
	font-weight: 700;
}
.search > .search_outbox > .search_inbox > ul > a:hover {
	background-color: #f3c8b0;
}
.search > .search_outbox > .search_inbox > .outline {
	width: 619px;
	height: 35px;
	border: 3px solid #f40;
	background-color: #fff;
}
.search > .search_outbox > .search_inbox > .outline > input {
	display: inline-block;
	position: relative;
	width: 445px;
	height: 35px;
	line-height: 35px;
	float: left;
	padding-left: 15px;
}
.search > .search_outbox > .search_inbox > .outline > a > span {
	height: 35px;
	line-height: 35px;
	float: right;
	padding: 0px 10px;
	font-size: 18px;
}
.search > .search_outbox > .search_inbox > .outline > a >button {
	float: right;
	width: 119px;
	height: 35px;
	border: 0;
	outline: none;
	background-color: #ff5902;
	font-size: 18px;
	color: #fff;
	font-weight: 700;
}
.search > .search_outbox > .search_inbox > .hotsell {
	display: block
	width: 625px;
	font-size: 12px;
	height: 15px;
	line-height: 15px;
	position: relative;
	left: -3px;
}
.search > .search_outbox > .search_inbox > .hotsell a {
	display: block;
	color: #666;
	height: 15px;
	margin: 7px 4px 0px 4px;
}
.search > .search_outbox > .search_inbox > .hotsell > .spe_co_red {
	color: #f40;
}
.search > .search_outbox > .search_inbox > .hotsell a:hover {
	color: #f40;
}



/*主体*/

.main {
	width: 1190px;
	height: 640px;
	margin: 0 auto;
	position: relative;
	background-color: #f1f1f1;
}
.l_side {
	width: 190px;
	height: 515px;
	background-color: #ff6b05;
	position: relative;
	font-weight: 700;
	left: 0;
	top: -34px;
}
.nav_l > h1 > a {
	height: 58px;
	width: 145px;
	display: block;
	background: url(../images/logo.png) no-repeat;
	position: absolute;
	left: 22px;
	top: -92px;
	text-indent: -1000px;
}
.nav_l > h3 {
	height: 34px;
	width: 174px;
	line-height: 34px;
	font-size: 14px;
	position: relative;
	padding-left: 10px;
	background-color: #ff6a05;
}
.nav_l > h3 > a {
	font-weight: 700;
	color: #fff;
	font-size: 15px;
}
.nav_l > ul > li > h5 {
	height: 30px;
	width: 182px;
	line-height: 30px;
	display: block;
	float: left;	
	color: #fff;
	font-size: 13px;
	padding: 0px 0px 0px 8px;
	cursor: pointer;
}
.nav_l > ul > li > h5 > span {
	display: inline-block;
	height: 13px;
	width: 2px;
	margin: 0 7px 0 4px;
}
.nav_l > ul > li > h5 a {
	display: inline-block;
	color: #fff;
}
.nav_l > ul > li > h5 a:hover {
	border-bottom: 1px solid #fff;
}
.nav_l > ul > li > h5 > span[class~='fr'] {
	margin: 0px 16px 0px 0px;
	padding: 0px 0px 0px 0px;
}
.nav_l > ul > li > h5 > span:first-child {
	color: #ff905b;
	display: inline-block;
	height: 13px;
	line-height: 13px;
	width: 2px;
	margin: 0px 16px 0px -3px;
}
.nav_l > ul > li:hover .outw {
	color: #fff;
}
.nav_l > ul > li:hover h5 {
	background-color: #f94a14;
}
.nav_l > .ad > a {
	width: 190px;
	height: 40px;
	display:block;
	float: left;
	background: purple url(../images/nav_down.jpg) no-repeat;
}

/*左侧悬停隐藏*/

.nav_l > ul > li {
	position: relative;
}
.nav_l > ul > li > ul {
	width: 705px;
	height: 516px;
	font-weight: normal;
	display: none;
	border: 2px solid #f94a14;
	position: absolute;
	margin: 0px 0px 0px 188px;
	z-index: 100;
	background-color: #fff;
}
.nav_l > ul > li > ul > li > div {
	margin: 0 10px;
	background-color: #fff;
}
.nav_l > ul > li > ul > li > .hide_up {
	width: 435px;
	height: 52px;
	border-bottom: 1px solid #e0e0e0;
	position: relative;
}
.nav_l > ul > li > ul > li > .hide_up > a {
	display: inline-block;
	font-size: 16px;
	font-weight: bolder;
	position: absolute;
	margin-bottom: 4px;
	bottom: 0px;
}
.nav_l > ul > li > ul > li > .hide_up > .more {
	right: 0px;
	font-size: 12px;
	font-weight: normal;
}
.nav_l > ul > li > ul > li > .hide_up > .more > span {
	margin: 2px 0px 0px -3px;
}
.nav_l > ul > li > ul > li > .hide_up > a > img {
	margin-bottom: -7px;
	border: 0;
	display: none;
}
.nav_l > ul > li > ul > li > .hide_down {
	width: 435px;
	height: 115px;
}
.nav_l > ul > li > ul > li > .hide_down > a {
	display: inline-block;
	float: left;
	font-size: 12px;
	font-weight: normal;
	margin: 12px 16px 0px 0px;
}
.nav_l > ul > li > ul > div {
	width: 250px;
	height: 516px;
	margin: -504px 0px 0px 455px;
	position: absolute;
	background-color: #f1f1f1;
}
.nav_l > ul > li > ul > li > .hide_up > a:hover {
	color: #f40;
}
.nav_l > ul > li:hover ul {
	display: block;
}
.nav_l > ul > li > ul > .hide_r > img {
	border: 0px;
}
.nav_l > ul > li > ul > .hide_r > .recommend {
	width: 250px;
	height: 32px;
	text-align: center;
	color: #999;
}
.nav_l > ul > li > ul > .hide_r > .show_pic > div {
	width: 110px;
	height: 110px;
	display: inline-block;
	background-color: pink;
	position: relative;
	margin: 0px 0px 35px 9px;
	cursor: pointer;
}
.nav_l > ul > li > ul > .hide_r > .show_pic > div > img {
	width: 110px;
	height: 110px;
	display: block;
	position: absolute;
}
.nav_l > ul > li > ul > .hide_r > .show_pic > div > a {
	width: 110px;
	height: 24px;
	line-height: 24px;
	color: #666;
	display: block;
	overflow: hidden;
	position: absolute;
	bottom: -24px;
	background-color: rgba(255,255,255,0);
	filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#ccffffff', endColorstr='#ccffffff', GradientType=0);
}
.nav_l > ul > li > ul > .hide_r > .show_pic > div > a:hover {
	color: #f40;
}




.main > .l_side > .sevice {
	width: 930px;
	height: 35px;
	position: absolute;
	left: 190px;
	margin: -30px 0px 0px 10px
}
.main > .l_side > .sevice > .tm {
	width: 50px;
	height: 28px;
	line-height: 28px;
	color: #ff6504; 
	padding: 2px 8px 2px 12px;
	font-size: 16px;
	border-radius:12px;
	font-weight: 700;
}
.main > .l_side > .sevice > a:hover {
	background-color: #ff6504;
	color: #fff;
}
.main > .l_side > .sevice > span {
	width: 10px;
	height: 10px;
	display: inline-block;
	color: #e1e1e1;
	padding: 0px 0px 0px 0px;
	margin: 0px 2px 0px 4px;
}
.main > .l_side > .sevice > .tb {
	width: 50px;
	height: 28px;
	line-height: 28px;
	color: #3c3c3c; 
	padding: 2px 6px 2px 6px;
	font-size: 14px;
	border-radius:12px;
	font-weight: 700;
}
.main > .l_side > .sevice > .sevice_last {
	width: 67px;
	height: 20px;
	line-height: 20px;
	float: right;
	text-align: center;
	color: #3827e0;
	margin: 0px 10px 0px 0px;
	border: 1px solid #eee;
	border-radius: 0px;
}
.main > .l_side > .sevice > .sevice_last:hover {
	color: #3827e0;
	background-color: #fff;
}




.main > .middle {
	width: 520px;
	height: 510px;
	position: absolute;
	background-color: #f1f1f1;
	left: 200px;
	top: 10px;
	box-sizing: border-box;
}
.main > .middle > .loop {
	width: 520px;
	height: 280px;
	position: relative;
	overflow: hidden;
	background: red;
}
.main > .middle > .loop > a {
	width: 24px;
	height: 36px;
	line-height: 36px;
	text-align: center;
	color: #fff;
	font-size: 18px;
	position: absolute;
	bottom: 122px;
	display: none;
	z-index: 20;
	background-color: rgba(0,0,0,0.3);
	filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#4c000000', endColorstr='#4c000000', GradientType=0);
}
.main > .middle > .loop:hover a {
	display: block;
}

.main > .middle > .loop > #prev {
	left: 0px;
}
.main > .middle > .loop > #next {
	right: 0px;
}
.main > .middle > .loop > #loop_pic {
	width: 3640px;
	height: 280px;
	position: relative;
}
.main > .middle > .loop > #loop_pic > a {
	float: left;
}
.main > .middle > .loop > #loop_pic > a > img {
	border: 0;
}
.main > .middle > .loop > #loop_butt {
	width: 66px;
	height: 13px;
	position: absolute;
	border-radius: 6px;
	bottom: 15px;
	left: 226px;
	background-color: rgba(255,255,255,0.3);
	filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#4cffffff', endColorstr='#4cffffff', GradientType=0);
}
.main > .middle > .loop > #loop_butt > .onclick {
	background-color: #f40;
}
.main > .middle > .loop > #loop_butt > a {
	width: 9px;
	height: 9px;
	display: block;
	margin: 2px;
	float: left;
	border-radius: 50%;
	background-color: #b7b7b7;
}










.main > .middle > .center > div:first-child {
	width: 108px;
	height: 19px;
	line-height: 19px;
	display: block;
	float: left;
	margin-top: 11px;
	text-align: right;
	font-weight: 700;
	font-size: 14px;
	background: url(../images/cat.gif) no-repeat;
}
.main > .middle > .center > .center_hot {
	width: 126px;
	height: 14px;
	display: block;
	float: left;
	padding: 14px 0 0 4px;
	font-size: 12px;
}
.main > .middle > .center > .center_num {
	width: 20px;
	height: 18px;
	display: block;
	float: right;
	margin-top: 14px;
	font-size: 14px;
	padding: 0px 3px 0 0;
}
.main > .middle > .down {
	width: 520px;
	height: 200px;
	background-color: #c15151;
	position: absolute;
	cursor: pointer;
	bottom: 0;
	overflow: hidden;
}
.main > .middle > .down img {
	margin: 0px;
	border: 0px;
	float: left;
}
.main > .middle > .down > ul {
	width: 3120px;
	height: 200px;
	position: relative;
}
.main > .middle > .down > ul > li {
	width: 520px;
	height: 200px;	
	/*position: absolute;*/
	float: left;
}
.main > .middle > .down > div {
	width: 520px;
	height: 3px;
	top: 0px;
	position: absolute;
	background-color: rgba(255,255,255,0.3);
	filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#4cffffff', endColorstr='#4cffffff', GradientType=0);
}
.main > .middle > .down > div > a {
	width: 16.666%;
	height: 3px;
	display: inline-block;
	float: left;
	background-color: #f40;
}
.main > .middle > .down > div > .onclick {
	background-color: #000;
}
.main > .middle > .down > a {
	width: 24px;
	height: 36px;
	line-height: 36px;
	text-align: center;
	color: #fff;
	font-size: 18px;
	position: absolute;
	bottom: 83px;
	display: none;
	z-index: 20;
	background-color: rgba(0,0,0,0.3);
	filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#4c000000', endColorstr='#4c000000', GradientType=0);
}
.main > .middle > .down:hover a {
	display: block;
}
.main > .middle > .down > .down_prev {
	left: 0px;
}
.main > .middle > .down > .down_next {
	right: 0px;
}




.main > .middle_r {
	width: 160px;
	height: 510px;
	position: absolute;
	left: 730px;
	top: 10px;
	box-sizing: border-box;
}
.main > .middle_r > a:first-child {
	width: 160px;
	height: 280px;
	display: block;
	background: green url(../images/middle_r_up.png) no-repeat;
}
.main > .middle_r > div {
	width: 160px;
	height: 12px;
	padding: 12px 0px 0px 0px;
}
.main > .middle_r > .tody_hot {
	width: 160px;
	height: 200px;
	display: block;
	background: green url(../images/middle_r_down.png) no-repeat;
	position: absolute;
	bottom: 0px;
}


.main > .r_side {
	width: 290px;
	height: 630px;
	display: block;
	position: relative;
	right: -900px;
	top: -505px;
}
.main > .r_side > div > .erweima {
	width: 94px;
	height: 112px;
	text-align: center;
	border: 1px solid #eee;
	display: block;
	padding-top: 7px;
	position: absolute;
	top: -148px;
	right: 0px;
	background: url(../images/erweima.jpg) 7px 27px no-repeat;
}
.main > .r_side > .tou {
	width: 290px;
	height:167px;
	background: url(../images/denglubeijing.png) no-repeat;
}
.main > .r_side > .tou > .photo {
	width: 56px;
	height: 56px;
	border-radius: 50%;
	display: block;
	background: #fff url(../images/touxiang.jpg) -2px 0px no-repeat;
	position: absolute;
	left: 121px;
	top: 16px;
}
.main > .r_side > .tou > .sayHi {
	display: inline-block;
	position: absolute;
	left: 127px;
	top: 79px;
}
.main > .r_side > .tou > .goldCoin {
	display: inline-block;
	position: absolute;
	left: 43px;
	top: 97px;
}
.main > .r_side > .tou > .goldCoin > a {
	color: #f40;
}
.main > .r_side > .tou > .goldCoin > a >.outw {
	font-size: 16px;
}
.main > .r_side > .tou > .login {
	display: inline-block;
	position: absolute;
	color: #fff;
	left: 15px;
	top: 120px;
}
.main > .r_side > .tou > .login > a:first-child {    /*登录*/
	width: 92px;
	height: 25px;
	display: block;
	font-size: 14px;
	color: #fff;
	background-color: #ff6604;
	font-weight: 700;
	text-align: center;
	line-height: 25px;
}
.main > .r_side > .tou > .login > .register {     /*注册*/
	width: 75px;
	height: 25px;
	display: block;
	float: left;
	font-size: 14px;
	color: #fff;
	background-color: #ff6604;
	font-weight: 700;
	text-align: center;
	line-height: 25px;
	margin: -25px 0px 0px 99px;
}
.main > .r_side > .tou > .login > .openShop {       /*开店*/
	width: 75px;
	height: 25px;
	display: block;
	float: left;
	font-size: 14px;
	color: #fff;
	background-color: #ff6604;
	font-weight: 700;
	text-align: center;
	line-height: 25px;
	margin: -25px 0px 0px 181px;
}
.main > .r_side > .rep {   /*举报*/
	width: 290px;
	height: 32px;
	text-align: center;
	line-height: 32px;
	display: block;
	position: absolute;
	left: 0px;
	top: 164px;
	background-color: #ffe4dd;
	color: #f40;
}







.main > .r_side > .ad {
	width: 290px;
	height: 109px;
	position: absolute;
	background-color: #fff;
	left: 0px;
	top: 196px;
}
.main > .r_side > .ad > ul {
	width: 290px;
	height: 37px;
}
.main > .r_side > .ad > ul > a {
	width: 40px;
	height: 26px;
	line-height: 26px;
	text-align: center;
	display: block;
	float: left;
	margin: 9px 8px 0px 8px;
}
.main > .r_side > .ad > ul > .show {
	color: #f40;
	font-weight: 700;
	border-bottom: 2px solid #f40;
}
.main > .r_side > .ad > .ad_down > div {
	width: 280px;
	height: 55px;
	display: none;
	padding: 17px 0px 0px 10px;
}
.main > .r_side > .ad > .ad_down > div > a {
	display: inline-block;
	width: 120px;
	margin: 0px 18px 10px 0px;
}
.main > .r_side > .ad > .ad_down > .ad_notice > a {
	display: inline-block;
	width: 270px;
	margin: 0px 0px 10px 0px;
}
.main > .r_side > .ad > .ad_down a:hover {
	color: #f40;
}






.main > .r_side > .slide_menu {
    width: 50px;
    right: -60px;
    height: 835px;
    top: 300px;
    position: absolute;
}
.main > .r_side > .slide_menu > ul {
	z-index: 20;
	background-color: #fff;
	border-radius: 8px;
	position: sticky;
	top: 80px;
	overflow: hidden;
}
.main > .r_side > .slide_menu > ul > li {
	text-align: center;
	width: 34px;
	height: 44px;
	background-color: #fff;
	padding: 6px 8px 0px 8px;
	position: relative;
}
.main > .r_side > .slide_menu > ul > .live {
	color: #f05;
}
.main > .r_side > .slide_menu > ul > .quality {
	color: #8d7afb;
}
.main > .r_side > .slide_menu > ul > .benefits {
	color: #A8C001;
}
.main > .r_side > .slide_menu > ul > .guessu {
	color: #f40;
}

.main > .r_side > .slide_menu > ul > li::after {
	content: '';
    border-bottom: 1px solid #efefef;
    width: 34px;
    position: absolute;
    left: 8px;
    bottom: -1px;
    z-index: 1;
}
.main > .r_side > .slide_menu > ul > li:first-child {
	color: #fff;
	font-weight: 700;
	background-color: #f40;
}
.main > .r_side > .slide_menu > ul > li:hover {
	color: #fff;
	font-weight: 700;
	background-color: #f40;
    z-index: 2;
}







.main > .r_side > .service {
	width: 292px;
	height: 201px;
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
	position: relative;
	top: 138px;
}
.main > .r_side > .service > a {
	width: 71px;
	height: 65px;
	display: block;
	text-align: center;
	line-height: 100px;
	float: left;
	color: #666;
	border-right: 2px solid #eaeaea;
	border-top: 2px solid #eaeaea;
}
.main > .r_side > .service > a:first-child {
	background: #fff url(../images/service.png) 0 0 no-repeat;
}
.main > .r_side > .service > .game {
	background: #fff url(../images/service.png) 0 -65px no-repeat;
}
.main > .r_side > .service > .tour {
	background: #fff url(../images/service.png) 0 -130px no-repeat;
}
.main > .r_side > .service > .carInsur {
	background: #fff url(../images/service.png) 0 -198px no-repeat;
}
.main > .r_side > .service > .lottery {
	background: #fff url(../images/service.png) 0 -268px no-repeat;
}
.main > .r_side > .service > .movie {
	background: #fff url(../images/service.png) 0 -331px no-repeat;
}
.main > .r_side > .service > .hotel {
	background: #fff url(../images/service.png) 0 -399px no-repeat;
}
.main > .r_side > .service > .money {
	background: #fff url(../images/service.png) 0 -465px no-repeat;
}
.main > .r_side > .service > .seek {
	background: #fff url(../images/service.png) 0 -534px no-repeat;
}
.main > .r_side > .service > .act {
	background: #fff url(../images/service.png) 0 -601px no-repeat;
}
.main > .r_side > .service > .water {
	background: #fff url(../images/service.png) 0 -668px no-repeat;
}
.main > .r_side > .service > .ticket {
	background: #fff url(../images/service.png) 0 -735px no-repeat;
}
.main > .r_side > .service > a:hover {
	color: #f40;
}
.main > .r_side > .app {
	width: 290px;
	height: 122px;
	top: 140px;
	position: relative;
	background-color: #fff;
}
.main > .r_side > .app > .appup {
	width: 264px;
	height: 32px;
	font-size: 12px;
	line-height: 32px;
	position: relative;
	margin: 0 auto;
}
.main > .r_side > .app > .appup > h3 {
	display: inline-block;
}
.main > .r_side > .app > .appup > a:hover {
	color: #f40;
}
.main > .r_side > .app > .appdown {
	width: 290px;
	height: 90px;
}
.main > .r_side > .app > .appdown > a {
	width: 32px;
	height: 32px;
	margin: 8px 13px 5px 13px;
	display: block;
	position: relative;
	text-align: center;
}
.main > .r_side > .app > .appdown > a:first-child {
	background: #fff url(../images/10.png) no-repeat;
}
.main > .r_side > .app > .appdown > .tm {
	background: #fff url(../images/11.png) no-repeat;
}
.main > .r_side > .app > .appdown > .jhs {
	background: #fff url(../images/12.png) no-repeat;
}
.main > .r_side > .app > .appdown > .zfb {
	background: #fff url(../images/13.png) no-repeat;
}
.main > .r_side > .app > .appdown > .ww {
	background: #fff url(../images/14.png) no-repeat;
}
.main > .r_side > .app > .appdown > .xy {
	background: #fff url(../images/15.png) no-repeat;
}
.main > .r_side > .app > .appdown > .qd {
	background: #fff url(../images/16.png) no-repeat;
}
.main > .r_side > .app > .appdown > .td {
	background: #fff url(../images/17.png) no-repeat;
}
.main > .r_side > .app > .appdown > .xm {
	background: #fff url(../images/18.png) no-repeat;
}
.main > .r_side > .app > .appdown > .tpp {
	background: #fff url(../images/19.png) no-repeat;
}
.main > .r_side > .app > .appdown > a > span {
	display: none;
	width: 90px;
	height: 102px;
	border: 1px solid #dedede;
	position: relative;
	margin: -111px 0px 0px -30px;
	background-color: #fff;
	z-index: 10;
}
.main > .r_side > .app > .appdown > a:hover span {
	display: block;
}
.main > .r_side > .app > .appdown > a > span > img {
	display: block;
	border: 0px;
	margin: 13px 0px 5px 14px;
}



.main > .down_side {
	width: 890px;
	height: 76px;
	display: block;
	background-color: #fff;
	position: absolute;
	left: 0px;
	top: 530px;
}
.main > .down_side > a {
	width: 178px;
	height: 76px;
	position: relative;
	float: left;

}
.main > .down_side  > a > img {
	width: 60px;
	height: 60px;
	display: block;
	border: 1px solid #f1f1f1;
	position: relative;
	float: left;
	border-radius: 50%;
	margin: 8px 10px 0px 6px;
}
.main > .down_side > a > strong {
	font-size: 16px;
	color: #9a745f;
	display: inline-block;
	padding: 12px 0px 4px 0px;
}
.main > .down_side > a:first-child > .workPlace {
	color: #9a745f;
	width: 100px;
	display: inline-block;
}
.main > .down_side > .second > strong,
.main > .down_side > .second > .life {
	color: #846fc7;
}
.main > .down_side > .third > strong,
.main > .down_side > .third > .workPlace {
	color: #de525e;
}
.main > .down_side > .fourth > strong,
.main > .down_side > .fourth > .baby {
	color: #72a5f6;
}
.main > .down_side > .fifth > strong,
.main > .down_side > .fifth > .car {
	color: #81c18f;
}
.main > .down_side > a >.pop {
	font-size: 12px;
	height: 5px;
	width: 81px;
	color: #999;
	display:inline-block;
}
.main > .down_side > a > .outw {
	width: 10px;
	font-size: 16px;
	color: #999;
	display: inline-block;
	padding: 0px 0px 0px 0px;
	margin: 5px 9px 0px 0px;
}
.main > .down_side > a:hover .outw {
	color: #f00;
}
.main > .down_side > a:hover img {
	border: 1px solid #f00;
}
.main > .more {
	width: 890px;
	height: 20px;
	display: block;
	position: absolute;
	left: 0px;
	top: 620px;
}
.main > .more > .often {
	width: 220px;
	height: 20px;
	margin: 0 auto;
	background: url(../images/jingling.png) 0px -608px no-repeat;
}
.main > .more > a {
	width: 60px;
	height: 20px;
	line-height: 20px;
	text-align: center;
	display: block;
	position: absolute;
	right: 0;
	top: 0px;
	float: right;
	border-radius: 10px;
	background-color: #fff;
}
.main > .more > a:hover {
	background-color: #f40;
	color: #fff;
}
.omit {
	height: 491px;
	width: 1190px;
	margin: 10px auto;
	background-color: #fff;
}
.omit > div {
	width: 500px;
	height: 50px;
	text-align: center;
	display: block;
	margin: 0 auto;
}


.omit > .help {
	width: 1190px;
	height: 200px;
	border-top: 1px solid #ddd;
	position: absolute;
	text-align: left;
}
.omit > .help > div {
	width: 222.5px;
	height: 200px;
	background-color: #f1f1f1;
	float: left;
	position: relative;
	padding: 0px 60px 0px 15px;
}
.omit > .help > div > div {
	width: 150px;
	height: 30px;
	margin: 50px 0px 0px 0px;
}
.omit > .help > div > div > .outw {
	font-size: 35px;
	line-height: 35px;
	display: block;
	float: left;
	color: #999;
}
.omit > .help > div > a {
	display: inline-block;
	line-height: 21px;
	float: left;
	margin: 0px 0px 0px 10px;
}
.omit > .help > div > div > .alin {
	height:35px;
	line-height: 35px;
	display: block;
	float: left;
	color: #3c3c3c;
	font-size: 18px;
	margin: 0px 0px 0px 10px;
	top: 0px;
	font-weight: 700;
	left: 0px;
}
.omit > .help > div > a:hover {
	color: #f40;
}



/*页脚*/


.footer > .ft_bgc {
	width: 100%;
	min-width: 1190px;
	height: 248px;
	background-color: #fff;
}
.footer > .ft_bgc > .ft_hd {
	width:1190px;
	height: 62px;
	line-height: 27px;
	font-size: 12px;
	color: #6c6c6c;
	margin: 0 auto;
	display: block;
	border-bottom: 1px solid #ddd;
	border-top: 1px solid #ddd;
	padding: 7px 0px 0px 0px;
}
.footer > .ft_bgc > .ft_hd > .divi {
	width: 3px;
	height: 14px;
	color: #9c9c9c;
	display: inline-block;
	margin: 0px 5px 0px 7px;
}
.footer > .ft_bgc > .ft_hd > a:hover {
	color: #f40;
}


.footer > .ft_bgc > .copy_ri {
	width: 1190px;
	height: 90px;
	line-height: 27px;
	margin: 0 auto;
	padding: 5px 0px 0px 0px;
}
.footer > .ft_bgc > .copy_ri > span {
	color: #9c9c9c;
}
.footer > .ft_bgc > .copy_ri > .police > span:first-child {
	width: 30px;
	height: 35px;
	display: block;
	background: #fff url(../images/copyri.png) 0px 0px no-repeat;
	background-size: cover;
}
.footer > .ft_bgc > .copy_ri > .police > span[class~="phone"] {
	width: 200px;
	height: 35px;
	line-height: 35px;
	display: block;
	color: #6c6c6c;
}
.footer > .ft_bgc > .copy_ri > a:hover {
	color: #f40;
}


.footer > .ft_bgc > .copy_pic {
	width: 1190px;
	height: 84px;
	margin: 0 auto;
	background-color: #fff;
}
.footer > .ft_bgc > .copy_pic > a {
	height: 40px;
	display: inline-block;
	margin-right: 27px;
}
.footer > .ft_bgc > .copy_pic > a:first-child {
	width: 36px;
	background: url(../images/police.gif) no-repeat;
}
.footer > .ft_bgc > .copy_pic > .pic_two {
	width: 30px;
	background: url(../images/copyri.jpg) 0px 0px no-repeat;
}
.footer > .ft_bgc > .copy_pic > .pic_three {
	width: 33px;
	background: url(../images/copyri.jpg) -40px 0px no-repeat;
}
.footer > .ft_bgc > .copy_pic > .pic_four {
	width: 50px;
	background: url(../images/copyri.jpg) -80px 0px no-repeat;
}
.footer > .ft_bgc > .copy_pic > .pic_five {
	width: 83px;
	background: url(../images/copyri.jpg) -140px 0px no-repeat;
}
.footer > .ft_bgc > .copy_pic > .pic_six {
	width: 94px;
	background: url(../images/copyri.jpg) -241px 0px no-repeat;
}
.footer > .ft_bgc > .copy_pic > .pic_seven {
	width: 250px;
	background: url(../images/copyri.jpg) -427px 0px no-repeat;
}
.footer > .ft_bgc > .copy_pic > .pic_eight {
	width: 105px;
	background: url(../images/copyri.jpg) -678px 0px no-repeat;
}
.footer > .ft_bgc > .copy_pic > .pic_night {
	width: 82px;
	background: url(../images/copyri.jpg) -345px 0px no-repeat;
}
.footer > .ft_bgc > .copy_pic > .pic_ten {
	width: 97px;
	background: url(../images/copyri.jpg) -788px 0px no-repeat;
}
.footer > .ft_bgc > .copy_pic > .pic_eleven {
	width: 249px;
	background: url(../images/copyri.jpg) -912px 0px no-repeat;
}